{
  "bar1": {
    "name": "Большой пр. В.О",
    "taps": []
  },
  "bar2": {
    "name": "Лиговский",
    "taps": []
  },
  "bar3": {
    "name": "Кременчугская",
    "taps": []
  },
  "bar4": {
    "name": "Варшавская",
    "taps": []
  }
}
